<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
</head>
<body>
	<h1>注册</h1>
    <form action="/register" method="POST" class="pure-form">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="password" placeholder="password" />
      <input type="submit" value="submit" class="pure-button pure-button-primary"/>
    </form>

</body>
</html>